/*Page styling*/
body {
  font-family: "Avantgarde", sans-serif;
  margin: 0px; 
  overflow-x: hidden;
}

/*layout based on https://lilysnowdenfine.com/ */

/*NOTE .page WILL BE REMOVED IF WE DON'T WANT A BACKGROUND */
.page {
  background: #ffffff;
}



/*SIDEBAR OPTION BEGIN*/
/*sidebar based on w3schools https://www.w3schools.com/w3css/w3css_sidebar.asp*/


.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 2; /*needs to be main/top content*/
  top: 0;
  left: 0;
  background-color: #CEDEBD;
  overflow-x: hidden;
  padding-top: 20px;
  border-right: double rgb(0, 44, 0) 5px;
}
/* style of link texts*/
.sidebar a, .dropdown_button {
  padding: 10px;
  text-decoration: none; /*no underline*/
  font-size: 25px;
  color: #000000;
  display: block;/*each on their own line*/
  background: none;
  width: 100%;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
}



/*DROP DOWN CONTAINER*/
.dropdown_content { /*styles the dropdown box*/
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

.dropdown_content a { /*styles dropdown words*/
  float: none;
  color: #CEDEBD;;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown:hover .dropdown_content {
  display: block;
}

.sidebar a:hover, .dropdown_button:hover {
  color: #385c0d; /*different color when hovering*/
}

/*for sidebar img*/
/*image is 18x0x180*/
img.logo {
  display: block;
  border: none;
}



/*TOPNAV*//*For personal page id links*/
.topnav {
  background-color:#CEDEBD;
  overflow: hidden;
  width:100%;
  position: fixed;
  top: 0;
  z-index: 1; /*needs to be above banner, but below sidebar*/
}

.topnav a {
  float: right;
  font-size: 20px; /*same as droppdown, dropdown_button*/
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}




/*BODY OF MAIN PAGE HERE*/
/* !!!! PLEASE NOTE I REMOVED .main AND .project AND ARE NOW .content -T*/
.content {
  margin-left: 200px; /* Same as the width of the sidebar */
  font-size: 16px; 
  color: black;
  padding: 0px 10px;
  text-align: justify;
}


/*HEADING PARAGRAPH FORMATS*/
/*all*/
h1 {
  font-size: 24px;
  font-weight: normal;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

/*specific formatting*/
h1.title {
  font-size: 40px;
  font-style: italic;
  text-align: center;
  }	 
h2  {
  font-size: 18px;
  color: black;
  font-style: normal;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* -----------------------adding footer Andie Nov 15 
referencing https://www.youtube.com/watch?v=T5BACF2goFU, https://www.youtube.com/watch?v=YOb67OKw62s*/

footer {
  text-align: center;
  margin-top: 150px;
  padding: 20px 10px 40px 320px;
  background: #CEDEBD;
  color: #333;
  display: flex;
}

 footer.div{
  text-align: center;
 }

a.col-1{
    display: block;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
    font-size: 10px;
    color: #40513B;
 }

 .col-2{
  flex-grow: 4;
 }

 footer.div h3{
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 1px;
 }


form input{
  width: 325px;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  outline: none;
  border: none;
}

form button{
  background: transparent;
  border: 2px solid #fff;
  color: #40513B;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 12px;
  cursor: pointer;
}

.socials{
  margin-top: 30px;
}

.socials i{
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
}
/* -----------------------adding footer Andie Nov 15 */

/* ------------------------Andie Nov 15 person page CSS */
.quoteitalics {
  font-size: 14px;
  font-style: italic;
  font-family: "Courier New", sans-serif;
  color: #40513B
}



/* ------------------------Andie end Nov 15 person page CSS */



/* p.abstract {
  font-size: 16px;
  color: black;
  font-style: normal;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}
p.quote {
  font-style: italic;
  color: #40115e;
}
*/


/* IMAGE FORMATTING*/
/*give images gallery-like framing*/
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  border: 10px solid black;
  padding: 5px;
}



/*FROM W3 https://www.w3schools.com/howto/howto_css_image_overlay_title.asp*/
/*BANNER OVERLAY*/
.overlay_container {
  position: relative;
  width: 100%;
  max-width:2040px;
  z-index: 0;
}

.overlay {
  position: absolute; 
  top: 0;
  bottom: 0; 
  margin-top: 50px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.overlay_container:hover .overlay {
  opacity: 1;
}



/******************** START BANNER ********************/
/******************** Edited by Laura ********************/
/* Banner Start */
.slideshow-container {
    max-width: 2000px;
    width: 100%; 
    height: auto; /* Make container responsive? -T*/
    top:0; /*REmove if does nothing. trying to align overlay -T*/
    position: relative;
    /*Removed_  margin: auto  _Makes the image have indent at side of page.  -T*/
}

.mySlides {
    display: none;
}

img.banner {
    width: 100%; 
    height: auto; 
    border: 0;;
    padding: 0;; /*changed none to 0 as it makes a difference*/
}
/* Banner end */
/******************** END BANNER ********************/


/******************** START SERVICES PAGE ********************/
/******************** Edited by Laura ********************/

/******************** END SERVICES PAGE ********************/



/******************** START GEOLOGY PAGE ********************/
/******************** Edited by Laura ********************/
/* Table Start PUBLICATION */
table {
  background-color: #40513B;
  border-collapse: collapse;
}
th {
  border: 1px #435334;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  font-weight: bold
}
td {
  border: 1px #435334;
  padding: 8px;
  text-align: justify;
}
tr:hover {
  background-color:  #9EB384;
}
/* Table end PUBLICATION */
/* Link start PUBLICATION */


/*LAURA I added a class to a so it doesn't change the page link formattings -T*/
a.publication {
  color: #435334;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}
a.publication:hover {
  color: #435334;
  background-color: #9EB384;
  border: 2px solid #435334;
}
a.link {
  font-size: 150%;
}
/* Link end PUBLICATION */

/******************** END GEOLOGY PAGE ********************/


/*RESPONSIVE LAYOUT OPTION BEGIN*/
/*TALI*/

/*max width breakpoint bc started with desktop*/
/* w3 schools*/

/*NEED TO ADD ALL PAGES TO THIS*/ 
/*Currently only showing home page responsive design*/


/*smaller screens, like tablet*/
/* 698px largest image width + 2*5px padding*2*10px border + 200px sidebar*/
@media screen and (max-width: 928px) {
  .sidebar {
	  padding-top: 15px; 
	  width: 100px; 
	}
  .sidebar a, .dropdown_button {  /*same as droppdown, dropdown_button*/
	  padding: 2px;
	  font-size: 16px; 
	  width: 100%; 
	  height: auto;
	}
  .dropdown_content a {
    font-size: 12px;
  }

  .topnav a {
    float: right;
    font-size: 16px;
    padding: 12px 14px;
  }

  .banner, .slideshow-container {
    max-width:100%;
    left:0;
    padding:0;
  }
  .overlay {
    font-size: 18px;
  }
  .content{
	  margin-left: 100px; /*same width as sidebar*/
  }

  .logo {
	  width:90px;
	  height:90px;
    }
  img {
	  max-width:90%; /*so img border isn't cut off in adjustments*/
    }
}

/*tablets & large phone screens*/
@media screen and (max-width: 720px) {
  .sidebar {
	  padding-top:0px;
	  width: 100%; /*change from sidebar to top nav bar*/
	  height: 90px;
	  position: fixed; /*always displayed at top*/
	  display: inline;
	  overflow: hidden;
    border-bottom: double rgb(0, 44, 0) 5px;
	}
  .sidebar a, .dropdown_button {
	  display: inline;
	  float: left;
	  text-align: center;
	  padding: 30px 15px 0px 15px; /*top r bottom l*/
	  font-size: 20px;
	  width: auto; /*100%/6*/
	}
  .logo { /*allow links to be inline with image*/
	  display: inline;
	  float: left;
    }
  .topnav {
    position: relative;
    padding-top: 90px;
    z-index: 0;
    position: relative;
  }
  .slideshow-container, .banner{
    width:100%;
    left: 0;
    padding: 0;
  }
  .content {
    margin-top: 0px; /*Due to z-index, has changed. -T*/
    margin-left: 0px;
	  padding: 1px; /*height of sidebar at top*/
  }
  footer {
      padding: none;
    }

}
/*small screens*/
@media screen and (max-width: 630px) {
  .sidebar a, .dropdown_button {
	  padding: 15px 15px 0px 15px; /*top r bottom l*/
    font-size: 20px;
  }
  .topnav {
    padding-bottom:0; 
  }
}
/*RESPONSIVE LAYOUT OPTION END*/


/*for fun*/
/*I will delete if not used*/
.hide {
	display: none;
}
.imgDiv:hover + .hide { 
	display: block;
	font-style: italic;
	font-size: 16px;
	color: black;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
} 

